<section class="row dark">
  <div class="content">
      <div class="row">
          <div class="footer-col col-md-4">
              <h3>Ort</h3>
              <p>
                  Hamburg
                  <br>Deutschland
              </p>
          </div>
          <div class="footer-col col-md-4">
              <h3>Weitere Präsenzen</h3>
              <ul class="list-inline">
                  <li>
                    <a href="https://www.xing.com/profile/Niklas_Grieger2" target="_blank" class="btn-social btn-outline" title="Xing"><i class="fa fa-xing"></i></a>
                  </li>
                  <li>
                    <a href="https://github.com/dragoono" target="_blank" class="btn-social btn-outline" title="Github"><i class="fa fa-github"></i></a>
                  </li>
                  <li>
                    <a href="https://www.codeschool.com/users/DevNik" target="_blank" class="btn-social btn-outline" title="Codeschool"><i class="fa fa-code"></i></a>
                  </li>
                  <li>
                    <a href="mailto:developer@niklas-grieger.de" class="btn-social btn-outline" title="Email"><i class="fa fa-envelope-o"></i></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/niklas-grieger-b98086152/" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                  </li>
              </ul>
          </div>
          <div class="footer-col col-md-4">
              <h3>Weitere Infos</h3>
              <p>Bei weiteren Fragen oder Anregungen können Sie mich gerne über das Formular oder per Email erreichen</p>
          </div>
      </div>
  </div>
</section><!-- END row -->
