
  <section class="row dark" id="sec03">
      <div class="content">
        <h1>Über mich</h1>
        <p>Hallo mein Name ist Niklas und ich komme aus der schönen Stadt Hamburg. Ich habe mir die Software Entwicklung zum Hobby und zum Beruf gemacht. 
            <br />
            Besonders interessieren mich die Web- und die mobile Entwicklung.
            Webseiten Entwicklung mit dem Framework Angular im Frontend und Java Spring Boot sind meine persönlichen Favoriten. Aber auch die Pluginentwicklung für beliebte CMS Systeme wie Wordpress, Shopware etc. interessiert mich. 
            Um die Kunden heutzutage zeitgemäß und noch besser erreichen zu können bietet es sich an auch eine native App für Android oder IOS anzubieten. Auch dies sind spannende Gebiete. 
            <br /> <br />
            Ich entwickle meist Full-Stack, das heißt, ich entwickle sowohl das Frontend, das Backend als auch die Datenbank Funktionen.
            Meine Präferenzen liegen allerdings in der Frond- und/oder Backend Entwicklung. <br />
            Falls Sie Fragen, Anregungen oder sonstige Anfragen haben, benutzen Sie gerne das untere Kontaktformular oder einen Link zu meinen weiteren Präsenzen im Netz.
         </p>
      </div>
      <div id="contactForm">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kontaktieren Sie mich</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-lg-offset-2">
                <form name="sentMessage" #contactForm="ngForm">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name&lowast;</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Name*"
                                   name="username"
                                   required minlength="3"
                                   [(ngModel)]="newMail.username" #username="ngModel">

                            <div *ngIf="username.invalid && (username.dirty || username.touched)"
                               class="alert alert-danger">

                            <div *ngIf="username.errors.required">
                              Name muss gefüllt sein.
                            </div>
                            <div *ngIf="username.errors.minlength">
                              Name muss mindestens 3 Buchstaben beinhalten.
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Addresse</label>
                            <input type="email" class="form-control" placeholder="Email Adresse*" [(ngModel)]="newMail.mailAdress" name="mailAdress" 
                                   required [email]="true" #mailAdress="ngModel">
                          <div *ngIf="mailAdress.invalid && (mailAdress.dirty || mailAdress.touched)"
                               class="alert alert-danger">

                            <div *ngIf="mailAdress.errors.required">
                              Email muss gefüllt sein.
                            </div>

                            <div *ngIf="mailAdress.errors.email">
                              Email hat das falsche Format
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Telefonnummer</label>
                            <input type="tel" class="form-control" placeholder="Telefonnummer" name="phone" [(ngModel)]="newMail.phone" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                      <div class="form-group col-xs-12 floating-label-form-group controls" style="max-width:100%;">
                        <label>Nachricht&lowast;</label>
                          <ckeditor [config]="ckEditorConfig"
                                    [readonly]="false"
                                    debounce="500"
                                    name="message"
                                    [(ngModel)]="newMail.message" 
                                    required
                                    #message="ngModel">
                          </ckeditor>
                            <div *ngIf="message.invalid && (message.dirty || message.touched)"
                                 class="alert alert-danger">

                              <div *ngIf="message.errors.required">
                                Nachricht muss gefüllt sein.
                              </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button (click)="sendMail()" type="button" [disabled]="contactForm.invalid" class="btn btn-raised btn-primary">Senden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section><!-- END row -->
