
  <section class="row dark" id="sec03">
      <div class="content">
        <h1>Über mich</h1>
        <p>Hallo mein Name ist Niklas Grieger, bin 23 Jahre alt und wohne in der schönen Stadt Hamburg. Außerdem bin ich ein leidenschaftlicher Webentwickler. 
           Und was bringt mehr Freude als sein Hobby zum Beruf zu machen :) Bereits in der Gesamtschule, wo ich meinen Realschulabschluss gemacht habe hat mich dieses Gebiet sehr interessiert.
           Direkt nach der Schule wollte ich unbedingt etwas in dem IT Bereich lernen und ausüben. Dann habe ich die Berufliche Schule Farmsen (G16) 2 Jahre lang besucht, und dort meine leidenschaft für die Webentwicklung gefunden, damals nur einfaches HTML, CSS und PHP.
           Dort habe ich den Abschluss "Technischer Assistent für Informatik" gemacht. In der selben Schule (G16) habe ich dann mein Fachabi mit Fachrichtung Technik gemacht.
           Direkt danach habe ich im Jahre 2014 die Ausbildung zum Fachinformatik mit Schwerpunkt Anwendungsentwicklung anfangen.
        </p>
      </div>
      <div class="content">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Konaktieren Sie mich</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" #contactForm="ngForm" >
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name&lowast;</label>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Name*"
                                   name="name"
                                   required minlength="2"
                                   [(ngModel)]="newMail.name" #name="ngModel">

                            <div *ngIf="name.invalid && (name.dirty || name.touched)"
                               class="alert alert-danger">

                            <div *ngIf="name.errors.required">
                              Name muss gefüllt sein.
                            </div>
                            <div *ngIf="name.errors.minlength">
                              Name muss mindestens 2 Buchstaben beinhalten.
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Addresse</label>
                            <input type="email" class="form-control" placeholder="Email Addresse*" [(ngModel)]="newMail.adress" name="email" 
                                   required [email]="true" #email="ngModel">
                          <div *ngIf="email.invalid && (email.dirty || email.touched)"
                               class="alert alert-danger">

                            <div *ngIf="email.errors.required">
                              Email muss gefüllt sein.
                            </div>

                            <div *ngIf="email.errors.email">
                              Email hat das falsche Format
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Telefonnummer</label>
                            <input type="tel" class="form-control" placeholder="Telefonnummer" name="phone" [(ngModel)]="newMail.phone" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nachricht&lowast;</label>
                            <textarea rows="5" class="form-control"
                                      placeholder="Nachricht*"
                                      name="message"
                                      [(ngModel)]="newMail.message" 
                                      required
                                      #message="ngModel">
                            </textarea>
                            <div *ngIf="message.invalid && (message.dirty || message.touched)"
                                 class="alert alert-danger">

                              <div *ngIf="message.errors.required">
                                Nachricht muss gefüllt sein.
                              </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button (click)="sendMail()" type="button" [disabled]="contactForm.invalid" class="btn btn-raised btn-primary">Senden</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </section><!-- END row -->
