<section class="row dark" id="sec01">
    <div class="content">
      <h1>Skills</h1>
      <h5>Frontend</h5>
      <p><ngb-progressbar [value]="100" [striped]="true">HTML5</ngb-progressbar></p>  
      <p><ngb-progressbar [value]="100" [striped]="true">JQuery</ngb-progressbar></p>  
      <p><ngb-progressbar [value]="90" [striped]="true">KendoUI</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="80" [striped]="true">CSS3</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="80" [striped]="true">AngularJs</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="75" [striped]="true">Angular</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="75" [striped]="true">Typescript</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="50" [striped]="true">Bootstrap</ngb-progressbar></p>  
      <h5>Backend</h5>
      <p><ngb-progressbar [value]="100" [striped]="true">C#</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="100" [striped]="true">.Net MVC</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="100" [striped]="true">SignalR</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="90" [striped]="true">Entity Framework</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="50" [striped]="true">.Net Core</ngb-progressbar></p> 
      <p><ngb-progressbar [value]="10" [striped]="true">PHP</ngb-progressbar></p> 
    </div>
  </section><!-- END row -->
