<nav-menu></nav-menu>
<div class="sections">

  <section id="hero">
    <h1>
      <span>Niklas Grieger</span>
      <br>
      Web Entwickler
    </h1>
    <div>
      <i class="fa fa-arrow-down fa-5x" aria-hidden="true"></i>
    </div>

  </section><!-- END hero -->

  <skills></skills>

  <projects></projects>

  <about></about>

  <more></more>

  <!-- Scroll-to-Top -->
  <a href="#" class="scrollup"><i class="fa fa-arrow-circle-o-up"></i></a>
  
  <footer></footer>
  <simple-notifications [options]="notiOptions"></simple-notifications>
</div><!-- END sections -->


